.App {
  margin-top: 100px;
  margin: 100px auto;
  width: 300px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 24px;
}

.Dropdown {
  margin-bottom: 24px;
}

.Dropdown label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
